.selectGroup {
  display: flex;

  >a {
    margin: 0 4px 12px 24px;
    padding: 4px;
    cursor: pointer;
    color: #313131;

    // background-color: aqua;
    &.select {
      color: #337ecc;
    }
  }
}

.chartFileGroup {
  box-sizing: border-box;
  gap: 14px;

  .chartItem {
    display: flex;
    border-radius: 8px;
    // height: 180px;
    flex: 1;
    box-sizing: border-box;
    // min-width: 280px;
    // max-height: 260px;
    border: 1px solid var(--gray-1);
    box-shadow: var(--box-shadow-2);
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;

    >.headText {
      padding: 8px 8px 0;
    }

    >.itemImg {
      display: flex;
      padding: 12px 0;
      max-width: 100%;
      max-height: 100%;
      flex: 1;
    }

    >.itemText {
      border-top: 1px solid var(--gray-1);
      display: flex;
      padding: 8px 18px 12px;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.option {
  width: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-right: 6px;

  .star {
    display: flex;
    padding: 4px;
    align-items: center;
    transition: 0.2s;

    &:hover {
      color: orange;
    }
  }

  .more {
    font-size: 18px;
    display: flex;
    padding: 4px;
    align-items: center;
    border-radius: 4px;

    &:hover {
      background-color: var(--gray-1);
    }

  }
}