@include b(ConfigCollapseComponent) {
  .el-form-item__label {
    padding: 0;
  }
  @include e(label) {
    display: flex;
    justify-content: space-between;
    &>div{
      display: flex;
      align-items: baseline;
      &>div:first-child{
        margin-right: 8px;
      }
    }
  }
  .ER-icon {
    cursor: pointer;
  }
  .el-dropdown {
    :focus {outline: 0;}
  }

}
