@include b(ConfigTypeComponent) {
  padding: 0 0 10px;

  @include e(content) {
    display: flex;
    width: 100%;

    li {
      flex: 1;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        border-color: $primary-color;
      }

      @include when(Disabled) {
        background: #F2F2F2;
        cursor: not-allowed;
      }
    }

    li:not(:last-child) {
      margin-right: 8px;
    }
  }

  .el-form-item__label {
    padding-right: 0;
  }

  @include e(label) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include e(slot) {
    width: 100%;

    &>* {
      width: 100%;
      box-sizing: border-box;
    }
  }
}