.DragGableLayout {
  height: 100%;

  &.edit {
    .el-row {
      padding: 10px;
    }
  }

  .dropHere {
    display: flex;
    background: #F2F8FF !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 60px;
  }
}